@charset "UTF-8";


@media screen and (min-width:768px) and (max-width:992px) {
    :root{

    --cor1:#f7f7ff;
    --cor2:#27187e;
    --complementar1:#351dbe;
    --complementar2:#3c79d6;
}
    
body{
    background-image: linear-gradient( #2360bb , #3b25b4 40% ,#27187e 90% );
}

section#login{
    width: 80vw;
    height: 330px;
}

div#img{
    float:left ;
    width: 30%;
    height: 100%;
}

div#form{
    float: right;
    width: 63%;
    height: 100%;

}
div.campo input{
    background-color: #053f97;
}
}
@media screen and (min-width:992px) {


    :root{

    --cor1:#f7f7ff;
    --cor2:#27187e;
    --complementar1:#351dbe;
}
    body{

    background-image: linear-gradient(to bottom, #98b2e9 , #351dbe 70%,#27187e 90%  );

}


    section#login{
        width: 90vw;
        height: 350px;
    }
    
div#img{
    float: right;
    width: 30%;
    height: 100%;
}
div#form{
    width: 65%;
   
}

div#form h1{
    font-size: 3em;
   
div#form p{

    font-size: 1em;
}
}
}
