@charset "UTF-8";

/*escolher paleta de cores
branco:f7f7ff
azul:27187e
*/

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}

:root{

    --cor1:#f7f7ff;
    --cor2:#27187e;
    --complementar1:#351dbe;
    --complementar2:#063999;
    
}
html, body{
    width: 100vw;
    height: 100vh;
    background-color: var(--cor2);
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login{
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.575);
    overflow: hidden;
    background-color: var(--cor1);
    margin: auto;
    width: 340px;
    height: 528px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
  
    transform: translate(-50%, -50%);
    transition: width .2s, heigth .2s;
    transition-timing-function: ease;
}

div#img{
    background-image: url(../imagens/sla.jpg);
    background-repeat: no-repeat;
    background-position: cover; 
    height: 200px;
   
}

div#form{
    
display: block;
background-color: var(--cor1);
padding: 20px;

}
 
div#form h1{
    color: var(--complementar1);
    margin-bottom: 10px;
    font-size: 1.9em ;
}

div#form p{
    font-size: 0.8em;
}

div.campo{
    background-color: #27187e;
    margin: 5px  0px;
    height: 40px;
    border-radius: 8px;
    border: 3px solid var(--cor2);
}
div.campo label{
    display: none;
}
div.campo span{
    color: var(--cor1);

    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo input{
    background-color:var(--complementar2);
    font-size: 1em;
    width: calc(100% - 60px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
     transform: translateY(-13px);
}

div.campo input:focus-within{
    background-color: var(--cor1);
}

form input[type=submit]{
    font-size: 1em;
    background-color: var(--complementar1);
    color: var(--cor1);
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    height: 40px;
    width: 100%;
   
   
}

form input[type=submit]:hover{
    background-color: var(--cor2);
}

form a.botao{
    background-color: var(--cor1);
    color: var(--cor2);
    display: block;
    width: 100%;
    height: 40px;
    font-size: 1em;
    text-decoration:none;
    text-align: center;
    margin-top:5px ;
    border-radius: 5px;
    font-weight: bolder;
    border: 1px solid #351dbe;

}

form a.botao:hover{
    background-color: var(--cor2);
    color: var(--cor1);
    font-weight: bolder;

}

form a.botao span{
    font-size: 1em;
    padding-top: 10px;
}